:root {
  --heading-font-family: "Kreon", serif;
  --paragraph-font-family: "Ubuntu", sans-serif;
  --accent-color: #a7ffeb;
  --borderradius-small: 0.3rem;
  /* --cta-color: #3f51b5; */
  --cta-color: #ff2d95;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family);
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.1rem;
  color: var(--accent-color);
}

nav > ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

button > a {
  color: white;
}

button.info {
  border-radius: var(--borderradius-small);
  background: var(--cta-color);
  /* background: #ff2d95; */
}

p {
  font-family: var(--paragraph-font-family);
  font-weight: 300;
  font-style: normal;
}

summary {
  font-family: var(--paragraph-font-family);
  font-style: normal;
  font-weight: 300;
}

section {
  margin-bottom: 3.4rem;
}

details.job {
  border-radius: var(--borderradius-small);
  padding: 1rem;
  transition: background 0.3s ease;
}

details.job[open] {
  background-color: #222;
}

details.job summary {
  cursor: pointer;
}

details.job summary:hover {
  color: #ddd;
}

details.job .job-content {
  margin-top: 1rem;
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
